
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<section class="signup">
    <div class="container">
        <div class="signup-content">
            <div class="signup-form" style="justify-content: center; align-items: center; display: flex; flex-direction: column">
                <h2 class="form-title" style="margin-left: 0;">Đổi mật khẩu</h2>
                <div class="form-group" style="width: 40%;">
                    @Html.ValidationSummary(false, "", new { @id = "form-message" })
                </div>
                @using (Html.BeginForm("ChangePassword", "NguoiDungs", FormMethod.Post, new { @class = "register-form", @id = "register-form", enctype = "multipart/form-data", onsubmit = "return checkPass();", style = "display: flex; justify-content: center;" }))
                {
                    <div class="wrapper" style="margin-right: 0">
                        <div class="form-group">
                            <div class="form-input">
                                <label for="name"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="oldpass" value="" id="oldpass" placeholder="Mật khẩu cũ" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-input">
                                <label for="email"><i class="zmdi zmdi-lock-outline"></i></label>
                                <input type="password" name="newpass" value="" id="newpass" placeholder="Mật khẩu mới" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-input">
                                <label for="re-pass"><i class="zmdi zmdi-check-circle-u"></i></label>
                                <input type="password" name="confirm" value="" id="confirm" placeholder="Xác nhận mật khẩu" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div style="display: flex; align-items: center;">
                                <input style="margin-right: 10px; width: 5%" type="checkbox" name="agree-term" id="agree-term" class="agree-term" onclick="check()" />
                                <label for="show-password" class="label-agree-term" style="position: relative; top: 0; transform: translateY(0);">Hiển thị mật khẩu</label>
                            </div>
                        </div>
                        <div class="form-group form-button">
                            <input type="submit" name="signup" id="signup" class="form-submit" value="Đổi mật khẩu" style="margin-top: 15px;" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

@if (ViewBag.Success != null)
{
    Response.Write("<script>alert('Đổi mật khẩu thành công')</script>");

}

<script>
    var oldpass = document.getElementById("oldpass");
    var newpass = document.getElementById("newpass");
    var confirm = document.getElementById("confirm");
    function checkPass() {
        var message = document.getElementById("form-message");
        if (oldpass.value == "") {
            message.innerText = "Mật khẩu cũ không được để trống";
            return false;
        }
        else if (newpass.value == "") {
            message.innerText = "Mật khẩu mới không được để trống";
            return false;
        }
        else if (newpass.value == oldpass.value) {
            message.innerText = "Mật khẩu mới không được trùng với mật khẩu cũ";
            return false;
        }
        else if (newpass.value != "" && confirm.value != newpass.value) {
            message.innerText = "Xác nhận mật khẩu không đúng";
            return false;
        }
        return true;
    }

    function check() {
        var cbElm = document.querySelector("#agree-term");
        if (cbElm.checked) {
            oldpass.setAttribute('type', 'text');
            newpass.setAttribute('type', 'text');
            confirm.setAttribute('type', 'text');
        } else {
            oldpass.setAttribute('type', 'password');
            newpass.setAttribute('type', 'password');
            confirm.setAttribute('type', 'password');
        }
    }
</script>
