<div class="mt-4">
    <a href="@Url.Action("Index", ViewData["FormController"] as string ?? "TrangChu")" class="btn btn-outline-primary">
        <i class="fas fa-arrow-left"></i> Quay lại danh sách
    </a>
</div>
@Html.Partial("_AdminPageEnd")
