@model IEnumerable<IMua.Models.SanPham>
<div class="content__right">
    <div class="content__item">
        @foreach (var product in Model.OrderByDescending(x => x.MaSP).Take(5))
        {
            @Html.Partial("_ProductCard", IMua.Models.ProductCardViewModel.From(product))
        }
    </div>
    <div class="content__item">
        @foreach (var product in Model.OrderByDescending(x => x.MaSP).Skip(5).Take(5))
        {
            @Html.Partial("_ProductCard", IMua.Models.ProductCardViewModel.From(product))
        }
    </div>
</div>
