
@{
    ViewBag.Title = "ShoppingGuide";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="widget" style="padding-top: 20px;">
    <div class="container">
        @{ Html.RenderAction("Menu", "Category"); }
        <div class="widget__content" id="danhmuc">
            <div class="main-content">
                <div class="content-header">
                    <div class="content-header-left">
                        <a href="" class="grid-view active">
                            <i class="fas fa-th"></i>
                        </a>
                    </div>
                    <div class="content-header-right">
                        <p class="content-header-right-text">Hướng dẫn mua hàng</p>
                    </div>
                </div>
                <div class="content-body">
                    <p>Đặt hàng đơn giản và nhanh chóng tại Website chỉ với vài click chuột như sau:</p>
                    <p>
                        <span style="color: #0000ff; font-weight: 700;">
                            <strong>
                                <u>Bước 1</u>: Click chuột vào nút "Đặt Hàng Ngay"
                            </strong>
                        </span>
                        <br />
                        Sau khi Click vào nút "Đặt Hàng Ngay" bạn sẽ được chuyển đến 1 trang điền thông tin nhận
                        hàng.
                        <br />
                    </p>
                    <p style="text-align: center;">
                        <img src="~/assets/img/giao-hang-1-min.png" alt="Hướng dẫn mua hàng trên Imua">
                    </p>
                    <p>
                        <br />
                        <span style="color: #0000ff; font-weight: 700;">
                            <strong>
                                <u>Bước 2</u>: Điền đầy đủ và chính xác thông tin
                            </strong>
                        </span>
                        <br />
                        Ở bước này bạn cần lưu ý <strong>điền đầy đủ thông tin và phải thật chính xác</strong>
                        đặc biệt là
                        số điện thoại và địa chỉ nhận hàng của bạn, vì khi bạn nhập sai 2 thông tin này thì đơn
                        hàng của bạn
                        sẽ bị thất lạt không thể giao về tới tận nhà của bạn.
                        <br />
                    </p>
                    <p style="text-align: center;">
                        <img src="~/assets/img/giao-hang-2-min.png" alt="Hướng dẫn mua hàng trên Imua">
                    </p>
                    <p>
                        <br />
                        <span style="color: #0000ff; font-weight: 700;">
                            <strong>
                                <u>Bước 3</u>: Chờ nhận hàng
                            </strong>
                        </span>
                        <br />
                        Sau khi hoàn tất đơn hàng chúng tôi sẽ tiến hành đóng gói và chuyển qua cho đơn vị vận chuyển để giao gói hàng về tới tận nhà cho bạn, bạn hãy chú ý điện thoại vì rất có thể bưu tá giao hàng sẽ liên hệ trước để xác nhận bạn có ở nhà không để đến giao hàng cho bạn nhé.
                        <br />
                    </p>
                    <p style="text-align: center;">
                        <img src="~/assets/img/giao-hang-3-min.png" alt="Hướng dẫn mua hàng trên Imua">
                    </p>
                    <p style="text-align: center; color: #ff0000;">
                        <strong>
                            <img src="~/assets/img/chi-tay-nho.png" alt="">
                            &nbsp;Cám ơn bạn đã tin tưởng và mua sắm tại Website, chúng tôi cảm thấy rất vinh
                            hạnh khi được
                            phục vụ bạn và hi vọng bạn sẽ quay lại mua sắm lần sau.
                        </strong>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


