
@{
    ViewBag.Title = "Order";
}

<div class="container" style="justify-content: center; align-items: center">
    <div class="center-content" style="text-align: center">
        <a href="@Url.Action("Index", "Home")" style="color: #333;">
            <img src="~/assets/img/icon_LargeShoppingCart.png" alt="Đặt hàng thành công!" style="margin-top: 20px">
            <h1 style="font-size: 36px; font-weight: 500; margin-top: 20px">Đặt hàng thành công!</h1>
            <h4 style="font-size: 18px; font-weight: 500; margin-top: 20px">Cám ơn bạn đã đặt hàng!</h4>
        </a>
    </div>
</div>


