@model IEnumerable<Nhom8_IMUA.Models.DanhMuc>

<div class="widget__nav">
    <h4>Danh mục sản phẩm</h4>
    <ul class="widget__menu">
        @foreach (var item in Model)
        {
            <li class="widget__item">
                <a href="@Url.Action("Index","Category",new { id = item.MaDM })" class="widget__link">
                    @item.TenDM
                    <i class="fas fa-plus"></i>
                </a>
            </li>
        }
    </ul>
</div>
           

