@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .lien-he {
        font-family: helvatica,"Open Sans",sans-serif;
        font-size: 14px;
        color: #333;
    }

    .container .lien-he {
        margin: auto;
    }

        .container .lien-he .email-lien-he {
            color: #333;
        }

            .container .lien-he .email-lien-he:hover {
                color: #f27922;
            }

    .content {
        padding-bottom: 0px;
    }
</style>
<div class="container">
    <div class="lien-he">
        <div style="text-align: center; line-height:20px ">
            <div style="font-weight: 700; margin-top: 21px"><strong>HV NET CO,.LTD. TRUNG TÂM BÁN HÀNG TRỰC TUYẾN IMUA</strong></div>
            <div style="font-family: arial;"><span style="font-weight: 700; color: rgb(0, 0, 255);">Trung tâm phân phối:</span> <span style="color: rgb(85, 85, 85);">255 Bình Lợi, Phường 13, Q. Bình Thạnh, TPHCM</span></div>
            <div style="margin-bottom: 9px;">Hotline: 0911 403 114</div>
            <div>E-mail: <a class="email-lien-he" href="mailto:support@imua.com.vn">support@imua.com.vn</a>&nbsp;- Website: <a href="https://imua.com.vn" style="color: #0000cd;">www.imua.com.vn</a></div>
        </div>
    </div>
</div>