@model Nhom8_IMUA.Models.Role

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-body">
        <h3 class="elements-header">Chi tiết vai trò:</h3>
        <br />
        <div class="table-responsive">
            <table class="table table-striped">
                <tr>
                    <td>
                        <label class="elements-title">Mã vai trò :</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayFor(model => model.RoleID)
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="elements-title">Tên vai trò :</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayFor(model => model.Name)
                    </td>
                </tr>
            </table>
        </div>
        <button class="btn btn-inverse-dark btn-fw" onclick="location.href='@Url.Action("Index", "VaiTros")';return false;">Quay lại</button>
    </div>
</div>